<h1>ABOUT CHRIS JARZYNKA</h1>
<span><a routerLink="/">Return to the Air Quality Query Tool</a></span>

<div class="card-container">
  <div class="card-alt">
    <span>Full Stack Developer</span>    
  </div>
  <div class="card-alt">
    <span>C#/.NET Developer</span>
  </div>
  <div class="card-alt">
    
    <span>B.S. Meteorology</span>
    <span>B.A. Mathematics</span>
  </div>
</div>

<div class="card-container">
  <div class="card-alt">
    <span>On Air Meteorologist</span>    
    <span>&nbsp;1992-2020</span>    
  </div>
  <div class="card-alt">
    <span>WSI</span>
    <span>&nbsp;2005-2012</span>
  </div>
  <div class="card-alt">    
    <span>Vizrt</span>
    <span>&nbsp;2012-2020</span>
  </div>
</div>


